.container {
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 100%;
}

.empresasCadastradas {
    display: flex;
    flex-direction: column;
    gap:40px;
    width: 40%;
    background-color: var(--primary);
    align-items: center;
    padding: 40px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    height: 450px;
    overflow-x: auto;
}

.headerEmpresasCadastradas {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.headerEmpresasCadastradas > select {
    height: 35px;
    border-radius: 8px;
    border: none;
    
}

.listaEmpresasCadastradas {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.listaEmpresasCadastradas > li {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--grey-4);
    align-items: center;
    border-radius: 8px;
    padding: 20px;
}

.empresasCadastradas::-webkit-scrollbar {
    width: 10px;
  }
  
.empresasCadastradas::-webkit-scrollbar-track {
    background: var(--primary); 
  }
  
.empresasCadastradas::-webkit-scrollbar-thumb {
    background-color: var(--grey-4); 
    border-radius: 20px;        
    border: 3px solid var(--primary); 
  }

.login {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 30px;
    padding: 40px;
    background-color: var(--grey-4);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 450px;
    justify-content: center;
}


.modal {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.modal_background {
    background-color: rgba(0,0,0,0.5);
    min-height: 100vh;
    width: 100vw;
    position: absolute;
}

.modal_content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 60%;
    background-color: var(--primary);
    padding: 40px;
    border-radius: 8px;
}

.modal_content > div > h2 {
    color: var(--white);
}

.modal_content > div {
    display: flex;
    justify-content: space-between;
}

.modal_content > form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal_content > form > input {
    border: none;
}

.popup {
    position: fixed;
    top: 0;
    right: 0;
    background-color: red;
    padding: 20px;
    margin: 15px;
    border-radius: 8px;
    animation-name: showPopup;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes showPopup {
    0%{
        transform: translateX(20%);
        opacity: 0;
    }
    50%{
        transform: translateX(0);
        opacity: 1;
    }
    100%{
        transform: translateX(20%);
        opacity: 0;
    }
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        width: 1200px;
    }

    .empresasCadastradas {
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
    }

    .headerEmpresasCadastradas {
        flex-direction: row;
    }

    .login {
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
    }
    
}
